body {
  color: black;
}
nav{
  background-color: lightgray;
}
nav a{
  text-decoration: none;
  background-color: azure;
  display: inline-block;
  padding: 10px;
  color: blue;
  margin: 5px 10px 5px 10px;
}
header{
  padding: 30px;
  background-color: rgb(80 80 20);
  text-transform: capitalize;
  color: white;
}
img {
  width: 250px;
  height: auto;
  margin-top: 5px;
}
footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}
aside{
  background-color: lightgray;
  padding: 20px;
}
aside p{
  color: blue;
  padding: 20px;
  text-align: center;
}
aside a{
  text-decoration: none;
  background-color: azure;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  color: blue;
}
section a{
  text-decoration: none;
  background-color: azure;
  display: inline-block;
  padding: 10px;
  color: blue;
  margin-bottom: 5px;
}
section{
  background-color: #f2f2f2;
  padding: 20px;
  border: 5px solid green;
}
header,
main,
nav,
aside{
  margin-bottom: 20px;
}